# .gitignore


# Archivos de SO
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales y caché
cache/
__pycache__/
*.pyc

# Backups y bases de datos
*.sql
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Entorno Virtual
venv/
env/
.env
.DS_Store

# Logs
*.log
logs/
loggerx/

# IDE
.vscode/
.idea/

# Ignorar todos los archivos .py dentro de cualquier carpeta 'migrations'
**/migrations/*.py

# EXCEPCIÓN: ¡No ignorar los archivos __init__.py!
!**/migrations/__init__.py
