{% extends 'base.html' %}
{% load static %}


{% block header %}  
<style>
    body {
        background-color: #003468 !important;
       /* background-image: url("{% static 'img/fondoruleta.png' %}");*/
        background-repeat: repeat;
        font-family: "Montserrat", sans-serif !important;
        color: #eeeeee !important;
    }

    .card {
        /* Fondo blanco con un 80% de opacidad (20% de transparencia) */
        background-color: rgba(0, 0, 0, 0) !important;
        
       /* background-color: none !important;*/
    }

    .card-borde-personalizado,
    .card-borde-personalizado .card-header,
    .card-borde-personalizado .card-footer {
        border-color: none ; /* O el color que prefieras */
        border: 0px solid rgba(0, 0, 0, .0) !important;
        background-color: rgba(0, 0, 0, 0) !important;
    }
    
    .label-ruleta {
        font-size: 15px;
        font-weight: 600; 
    }
    
    .titulo-ruleta {
        font-size: 20px;
        font-weight: 600; 
    }
    
    .header {
        padding: 40px;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    .header h1,p {
        text-align: center;
    }
    
    textarea {
        background-color: rgba(20, 20, 20, 0.2);
        caret-color: #fff;
        resize: none;
        color: #fff;
    }
    
    .inputArea {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    
</style>


{% endblock %}


{% block title %}
Premios y Sorpresas - EF Perfumes
{% endblock title %}


{% block content %}
<title></title>



<div class="container">
    <div class="row mb-1">
        <div class="col-1 col-md-3 themed-grid-col"></div>
        <div class="col-10 col-md-6 themed-grid-col">


            <br>
            <div class="card card-borde-personalizado">
                <form method="POST">
                    <div class="card-header">
                        <img src="{% static 'img/Logo_EFperfumes1.png' %}" class="img-fluid mx-auto d-block" alt="...">
                        <p class="text-center">¡ Módulo de premios y sorpresas para clientes de EF Perfumes !</p>
                    </div>
                    <div class="card-body" style="background-color: #fff; color: #003468;">
                        <p>Llegaste al módulo de premios y sorpresas para clientes de EF Perfumes.</p>
                        <p>Mantente atento a nuevas oportunidades de obtener premios</p>
                    </div>
                    <!-- Botón de envío -->
                    <div class="card-footer text-center">

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<br>








{% endblock content %}
   

{% block js_footer %}
{% endblock  %}
